<li class="ui-li ui-li-static ui-btn-up-c league_id_219 my_leagues T1968 T1969 my_teams" league_id="219" event_id="14768" timestamp="1364652600000">

  <p class="ui-li-aside ui-li-desc">
    <strong> <%=distance_of_time_in_words_to_now event.start_date%></strong> 
    <sup><%=event.start_date.strftime("%a %H:%M")%></sup>
  </p>

  <font class="goog-text-highlight"> <%=event.home_team.name%> vs <%=event.away_team.name%></font>

  <span class="label" style="background-color:<%=event.league_label_colour%>; font-size:10px;" data-name="activesupport">
    <font class="goog-text-highlight">
      <%=event.league.name%>
    </font>
  </span>

</li>

