<%=render 'index_js'%>
<div class="row">
  <div class="span2" style='background-color: #eee'>
    <div style='padding:5px;border:1px solid #ccc'>
      <%=render "layouts/left_menu"%>
    </div>
  </div>
  <div class="span7">
     <div class="modal hide" tabindex="-1" id="signupmodal">
         <%= render :template => "devise/registrations/new" %>
      </div>


     <div class="modal hide" tabindex="-1" id="forgotpasswordmodal">
         <%= render :template => "devise/passwords/new" %>
      </div>


    <%=render "layouts/main"%>
  </div>
  <div class="span3" style='background-color: #eee;'>
    <div style='padding:5px;border:1px solid #ccc;border-bottom:0px'>
      <%=render "layouts/tz"%>
    </div>
  </div>
  <br><br>
  <div class="span3" style='background-color:#eee;min-width:220px'>
    <div style='padding:5px;border:1px solid #ccc;border-top:0px'>
      <%=render "layouts/right_menu"%>
    </div>
  </div>
</div>

<hr>

<footer>
<div style='float:left'>
  <p>&copy; DMFour 2013</p>
</div>
  <div style='float:right;text-align:right'>
    <% if current_user %>
      <p style='color:#666'>Choose your timezone and select your favourite teams and leagues.</p>
    <% else %>
      <p style='color:#666'>We're showing sports we think you might like, based on your location. </p>
      <p style='color:#666'>
      <a class="link" style='text-decoration:underline'  data-toggle="modal" tabindex="-1" href="#signupmodal">Signup</a> or login to setup your faves!
      </p>
    <% end %>
  </div>
</footer>

    </div> <!-- /container -->

