<!-- Main hero unit for a primary marketing message or call to action -->


<!--
<div class="hero-unit">
  <h4>Nai's List</h1>
  <p>Choose your favourite sports leagues and teams. See a list of upcoming games ... enough said.</p>n
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
-->

<script>
  var current_user = false;
  var myLocator, mySportsUI;
    // This is where all the page initialisation happens.
    $(document).ready(function() {
      current_user = <%=user_signed_in?%>;
      myLocator = new locator;
      mySportsUI = new sports_ui;
      myLocator.sports_ui = mySportsUI; 

      // first setup all the data
      <% if current_user %>
        <% @myevents = nil %>
        <%# cache "events.user.#{current_user.id}" do %>
          <%@myevents = Event.upcoming_events_for_user(current_user,1000).to_json(:include=>[:teams], :methods=>[:tag_list,:display_name,:countdown, :league_name, :league_label_colour, :live]).html_safe %>
        <%# end %>
        mySportsUI.my_events = <%=raw @myevents%>;

        <% @myteams = nil %>
        <%# cache "teams.user.#{current_user.id}" do %>
            <%@myteams = current_user.teams.map{|t| t.preference_id}.join(',') %>
        <%# end %>
        mySportsUI.my_teams = [<%=raw @myteams%>];
          
        <% @myleagues = nil %>
        <%# cache "leagues.user.#{current_user.id}" do %>
            <%@myleagues = current_user.my_leagues.to_json %>
        <%# end %>
        mySportsUI.my_leagues = <%=raw @myleagues%>;
        myLocator.tz = "<%=raw current_user.tz%>";
      <% end %>

      // now check if showing a user or default
      if (current_user) {
        mySportsUI.updateTreeJSON(mySportsUI.my_leagues);
        mySportsUI.updateInitialEventsJSON(mySportsUI.my_events);
        
        $('#tz_selector').val(myLocator.tz);
        mySportsUI.change_time_zone_select($('#tz_selector').get(0));
      } else if (navigator.geolocation) { 
        navigator.geolocation.getCurrentPosition(
          function(position) {
          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
          myLocator.codeLatLng(latitude, longitude); // this should not call myLocator, it should be 'this' but the problem is this 'successFunction' is a CallBack and doesn't seem to send the whole object
          },
          function(err) {
          myLocator.country = sports_geo_country; // this reads from the IP address, this is a variable set by Rails in _main.html.erb
          myLocator.locationFound();
          },{timeout:48000} // 3 seconds
        );
      }

      /* setup listeners */
      $('#results_wrapper').mouseleave(function() {
          $('#results_wrapper').fadeOut();
          $('#show_results').show(); 
          });
      $('.save_preferences').click(mySportsUI.save_current_preferences);
    });
</script>

<div class="row">
  <div class="span2" style='background-color: #eee'>
    <div style='padding:5px'>
      <%=render "layouts/left_menu"%>
    </div>
  </div>
  <div class="span7">
     <div class="modal hide" tabindex="-1" id="signupmodal">
         <%= render :template => "devise/registrations/new" %>
      </div>


     <div class="modal hide" tabindex="-1" id="forgotpasswordmodal">
         <%= render :template => "devise/passwords/new" %>
      </div>


    <%=render "layouts/main"%>
  </div>
  <div class="span3" style='background-color: #eee;'>
    <div style='padding:5px'>
      <%=render "layouts/tz"%>
    </div>
  </div>
  <br><br>
  <div class="span3" style='background-color: #eee;'>
    <div style='padding:5px'>
      <%=render "layouts/right_menu"%>
    </div>
  </div>
</div>

<hr>

<footer>
<div style='float:left'>
  <p>&copy; DMFour 2013</p>
</div>
<div style='float:right;text-align:right'>
  <p style='color:#666'>We're showing sports we think you might like, based on your location. </p>
  <% unless current_user %>
    <p style='color:#666'>
    <a class="link" style='text-decoration:underline'  data-toggle="modal" tabindex="-1" href="#signupmodal">Signup</a> or login to setup your faves!
    </p>
  <% end %>
</div>
</footer>

    </div> <!-- /container -->

