<!-- Main hero unit for a primary marketing message or call to action -->


<!--
<div class="hero-unit">
  <h4>Nai's List</h1>
  <p>Choose your favourite sports leagues and teams. See a list of upcoming games ... enough said.</p>n
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
-->

<script>
  var mySportsUI = new sports_ui;
  <% if current_user %>

    <% @myevents = nil %>
    <%# cache "events.user.#{current_user.id}" do %>
        <%@myevents = Event.upcoming_events_for_user(current_user,1000).to_json(:include=>[:teams], :methods=>[:tag_list,:display_name,:countdown, :league_name, :league_label_colour]).html_safe %>
    <%# end %>

    mySportsUI.my_events = <%=raw @myevents%>;

    <% @myteams = nil %>
    <%# cache "teams.user.#{current_user.id}" do %>
        <%@myteams = current_user.teams.map{|t| t.preference_id}.join(',') %>
    <%# end %>
      
    <% @myleagues = nil %>
    <%# cache "leagues.user.#{current_user.id}" do %>
        <%@myleagues = current_user.my_leagues.to_json %>
    <%# end %>
    mySportsUI.my_leagues = <%=raw @myleagues%>;
  <% end %>
</script>

<div class="row">
  <div class="span2" style='background-color: #eee'>
    <div style='padding:5px'>
      <%=render "layouts/left_menu"%>
    </div>
  </div>
  <div class="span7">
     <div class="modal hide" tabindex="-1" id="signupmodal">
         <%= render :template => "devise/registrations/new" %>
      </div>


     <div class="modal hide" tabindex="-1" id="forgotpasswordmodal">
         <%= render :template => "devise/passwords/new" %>
      </div>


    <%=render "layouts/main"%>
  </div>
  <div class="span3" style='background-color: #eee;'>
    <div style='padding:5px'>
      <%=render "layouts/tz"%>
    </div>
  </div>
  <br><br>
  <div class="span3" style='background-color: #eee;'>
    <div style='padding:5px'>
      <%=render "layouts/right_menu"%>
    </div>
  </div>
</div>

<hr>

<footer>
<div style='float:left'>
  <p>&copy; DMFour 2013</p>
</div>
<div style='float:right;text-align:right'>
  <p style='color:#666'>We're showing sports we think you might like, based on your location. </p>
  <% unless current_user %>
    <p style='color:#666'>
    <a class="link" style='text-decoration:underline'  data-toggle="modal" tabindex="-1" href="#signupmodal">Signup</a> or login to setup your faves!
    </p>
  <% end %>
</div>
</footer>

    </div> <!-- /container -->

