<%= form_for(@user_preference) do |f| %>
  <% if @user_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_preference.errors.count, "error") %> prohibited this user_preference from being saved:</h2>

      <ul>
      <% @user_preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=hidden_field_tag "user_preference[preference_type]", "Team"%>

  <div class="field">
    <%#=f.select(:preference_type, options_for_select(['League', 'Team', 'Sport'], :selected=>1)) %>
  </div>

  <div class="field">
    Select a team to follow<br />
    <%=f.collection_select :preference_id,Team.order("name ASC").all,:id,:name %>
  </div>

  <div class="actions">
    <%= f.submit "Follow Team" %>
  </div>
<% end %>
