<%# link_to "Home", root_path, :class => 'brand' %>
<div id='main_title'>Sport</div>
<ul class="nav">

  <% if user_signed_in? %>

    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>

  <% else %>

    <li>
     <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
      </form>
    </li>

  <% end %>

  <% if user_signed_in? %>

    <li>
     <%= link_to('The List', list_path) %>
    </li>

    <li>
     <%= link_to('Config', config_path) %>
    </li>

    <li>
     <%= link_to('Account', edit_user_registration_path) %>
    </li>

  <% else %>

    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>

  <% end %>

</ul>
